
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

/* Filters */

.filters {
  display: flex;
}
.filters > div {
  flex-basis: 15%;
}

/* Grid */

.datagrid {
  padding: 1em;
}

.member-headersort {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.member-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}

.member-row:nth-child(odd) {
  background: lightgray;
}

.member-row .member-info img {
  border-radius: 100%;
  width: 7em;
  height: 7em;
  object-fit: fill;
}

.member-info {
  flex-basis: 16%;
  text-align: center;
}

.score,
.party,
.state,
.tenure,
.reelection,
.pdf
 {
  flex-basis: 14%;
  text-align: center;
}